{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div class="row box">
  {% if request.user.is_superuser %}
  <a href="/import/" class="btn btn-primary">Upload XLS file</a>
  {% endif %}
  <form method="GET" id="search-form">
    {% for field in form %}
    <div class="col-xs-4 form-group">
      {{ field.label_tag }}
      {{ field }}
    </div>
    {% endfor %}
    <div class="row">
      <center>
        <button class="btn btn-success">Search</button>
      </center>
    </div>
  </form>
</div>
<div>
  <div class="search-results">
    {% if form.errors %}
    Please correct the following error(s):
    <ul>
      {% for fname,error in form.errors.items %}
      <li class="btn btn-danger" style="display: block;">{{ fname }}: {{ error|join:' ' }}</li>
      {% endfor %}
    </ul>
    <div style="clear:both;"></div>
    {% endif %}
    {% for pair in queryset %}
    <div class="pair text-center box" id="pair-{{ pair.pk }}">
      <div class="well">
        <div class="row">
          {% for key,value,math,klass in pair.get_values %}
          <div class="value {{ key }} {{ klass }} col-xs-4 klass-{{ klass }}">
            <h2>{{ value }}</h2>
            <div class="key">{{ key }}</div>
            <div class="math">{{ math }}</div>
          </div>
          {% endfor %}
        </div>
        <h2>
          #{{ pair.number }}
          <small>{{ pair.lense|default_if_none:"" }} {{ pair.frame|default_if_none:"" }}</small>
        </h2>
        <div>
          <button class="btn btn-success select" onclick="selectPair({{ pair.pk }});return false;">
            Select</button>
          <button class="btn btn-danger undo" onclick="unselectPair({{ pair.pk }}); return false;">
            Undo</button>
        </div>
        <div class="load-icon"><i class="fa fa-spinner fa-spin"></i></div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
function selectPair(pk) {
  var element = $("#pair-"+pk);
  element.addClass('loading');
  $.post(
    '/select/'+pk+'/',
    function(data) {
      element.removeClass('loading').addClass('selected');
    }
  );
}
function unselectPair(pk) {
  var element = $("#pair-"+pk);
  element.addClass('loading');
  $.post(
    '/unselect/'+pk+'/',
    function(data) {
      element.removeClass('loading').removeClass('selected');
    }
  );
}
</script>
{% endblock %}
